{% extends 'main.html' %}
{% block content %}
<title>ABOUT ALTER-EGO</title>
<body>
<b>ALTER-EGO <span style="font-size: 12px">By N0153</span></b>
<br />
This project allows its users to represent themselves within professional and online environments. <br />
Imagine if you could hand your potential employer or an in-game teammate your business card, containing an info on all your <br />
accomplishments, achievements, expertise and even more! <br />
Well, now you can do that with ALTER-EGO!
<br />



</body>
{% endblock %}