{% extends 'main.html' %}
{% block content %}
<div class="card">
    <br />
  <div class="card-header">
    Professional
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>Hello world</p>
      <footer class="blockquote-footer">This is your professional side</cite></footer>
    </blockquote>
    <a href="">LinkedIn</a> <a href="">Github</a> <a href="">Personal Website</a> <a href="">Facebook</a>
  </div>
</div>

<br />

<div class="card text-bg-dark mb-3">
    <br />
  <div class="card-header">
    ALTER-EGO
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>Hello world</p>
      <footer class="blockquote-footer">This is your Alter-ego side</cite></footer>
    </blockquote>
      <a href="">Steam</a> <a href="">Twitch</a> <a href="">Spotify</a> <a href="">Telegram</a>
  </div>
</div>

{% endblock %}